*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: rgb(143, 0, 0);
color: #61122F;
}
body{
	background-color: #dfe21d;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: rgb(128, 128, 128);

}
.container
{
	background-color: rgb(25, 25, 31);
}
.text-center{
	font-size: 30px;
	color: rgb(226, 0, 0);
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #b3b49c;
}
.navbar-brand{
font-size: 30px;	
}